.post {
  margin: 1rem 0;

  h2 {
    margin-bottom: 1em;
    margin-top: 0;
  }
}

.favicon {
  border-radius: 100px;
  max-height: 1em;
  margin-right: .25ch;
}

.shares {
  text-align: right;
  float: right;
  font-variant-numeric: tabular-nums;
}
