// @import url('https://rsms.me/inter/inter.css');

:root {
  --white: white;
  --black: #1A202C;

  --accent: #59656F;
  --bg: var(--white);
  --text: var(--black);
  
  @media screen and (prefers-color-scheme: dark){
    --bg: var(--black);
    --text: var(--white);
    --accent: #C4A69D
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: $font-fallbacks, sans-serif;
  // font-size: 20px;
  background: var(--bg);
  color: var(--text);
}

a,
a:visited {
  cursor: pointer;
  color: currentColor;
  border-bottom: 1px solid var(--accent);
  text-decoration: none;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;

  &:hover,
  &:focus {
    background-size: 100% 2px;
  }
}



